<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>briskbuy</title>
    <link rel="icon" href="bb.png" type="image/gif" sizes="16x16"> 
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron header">
            <div class="row">
                <div class="col-sm-2 mainHeading"><h2>briskbuy.com</h2></div>
                <div class="col-sm-7 searchContainer">
                    <form action='/' method='GET'>
                        <div class="input-group row" id="searchInputGroup">
                            <input type="text" id="searchInput" class="form-control col-sm-10" name="search" placeholder="search">
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 credentialContainer">
                    <div id="welcomeDiv"></div>
                    <button id='loginFormButton' onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                    <button id='signupFormButton' onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>
                    <button id='logout' class='btn btn-dark'>Logout</button>
                </div>
            </div>
        </div>
        <div class='row'>
            <div id='productsContainer' class='col-sm-12'>
                {{!-- {{#each products as |product|}}
                <div class='productCard' data-id={{product.id}}></div>
                <h2>{{product.name}}</h2>
                <h6>Price : {{product.price}}</h6>
                <button class="btn btn-default addToCart">Add to Cart 🛒</button>
                </div>
                {{/each}} --}}
                
            </div>
            <div id='cart' class='col-sm-2'>
                
                
            </div>
        </div>
    </div>
    <div id="id01" class="modal modal-content animate">
        <div class="imgcontainer">
            <span class="close" title="Close Modal">&times;</span>
            <img src="avatar.png" alt="Avatar" class="avatar">
        </div>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id="loginUsername" required>
            
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="loginPassword" required>
            
            <button type="button" id="loginButton">Login</button>
            <button type="button" class="btn-secondary cancel">Cancel</button>
        </div>
    </div> 
</div>
<!-- // -->
<!-- signup modal -->
<div id="id02" class="modal modal-content animate">
    <div class="imgcontainer">
        <span class="close" title="Close Modal">&times;</span>
        <img src="avatar.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Username" name="name" id="name" required>
        
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="signupUsername" required>
        
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="signupPassword" required>
        
        <label for="psw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Password" id="confirmPassword" required>        
        
        <button type="button" id="signupButton">Signup</button>
        <button type="button" class="btn-secondary cancel">Cancel</button>
    </div>
</div> 
</div>
<!-- // -->

</body>
</html>